body {
    background-color: blanchedalmond;
    background: url(https://images.unsplash.com/photo-1455793067932-146d5b4a694f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    padding: 1px;
}

h1 {
    color: #033FA0;
    color: #EABB1F;
    text-align: center;
    text-decoration: overline underline;
    font-family: 'Abril Fatface', cursive;
    font-weight: 500;
    font-size: 50px;
}

div {
    /* color: #EABB1F;
    color: #033FA0;
    color: #022050; */
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    text-decoration: underline;
    color: #041229;
}

p {
    background-color: #FF8170;
    opacity: 75%;
    width: 1p;
}

div > blockquote {
    
    color: #78E425;
    text-decoration-line: underline;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    text-shadow: 5px 5px 10px #78E425;
    
}

img {
    border-radius: 5px;
    width: 250px;
}
.link-account {

}

#id-info {
    border: 2px solid #78E425;
    box-sizing: border-box;
}
.hand {
    color: #033FA0;
 }